/*调整头部Header*/
.el-header {
    background-image: radial-gradient(transparent 1px, rgb(255 255 255) 1px);
    border-bottom: 1px solid rgb(220 223 230);
    font-size: 12px;
}
/*调整左侧Menu*/
.el-menu{
    border-right: 0!important;
}
.el-scrollbar{
    width:100%
}
.el-menu-vertical{
    width: 200px;
}
.v-menu{
    font-size: 24px;
    width: var(--el-menu-icon-width);
    height: 56px;
    margin-left: 20px;
    cursor: pointer;
}

/*调整弹窗*/
#app .el-dialog{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
}

/*去除焦点轮廓*/
button:focus, button:focus-visible{
    outline:0;
}
